<div id="influencer_ranking">
  <p id="influencer_ranking_text">インフルエンサーランキングが入ります</p>
</div>
<div id="recomend_influencer">
  <p>おすすめインフルエンサーが表示されます</p>
</div>
<div id="influencer_search_window">
  <p id="influencer_search">インフルエンサー検索部分です</p>
  <a href="#" style="text-decoration:none;" id="influencer_search_link">検索する</a>
</div>
