<table id="counseling_show">
  <tr id="counseling_show_title">
    <td><%= @influencer.name %></td>
  </tr>
  <tr id="counseling_show_content">
    <td><%= @influencer.profile %></td>
  </tr>
</table>
