<%= render "shared/header" %>
<div id="service_explanation">
  <p id="service_explanation_text">WEBサービスの説明テキストが入ります</p>
    <div id="service_explanation_links">
      <a href="http://localhost:3000/users/sign_up" style="text-decoration:none;">今すぐはじめる</a>
      <a href="http://localhost:3000/users/sign_in" style="text-decoration:none;">アカウントをお持ちの方</a>
    </div>
</div>
<div id="new_counseling_index">
  <p>新着カウンセリングが表示される部分です</p>
    <div id="new_counseling_reservation_link">
      <a href="###" style="text-decoration:none;">予約する</a>
    </div>
</div>
<div id="service_explanation_bottom">
  <p id="service_explanation_text_bottom">WEBサービスの説明テキストが入ります</p>
    <div id="service_explanation_links">
      <a href="http://localhost:3000/users/sign_up" style="text-decoration:none;">さっそくはじめる</a>
    </div>
</div>
