<div id="new_counselings">
  <p>新着カウンセリングが表示されます</p>
</div>
<div id="popular_counselings">
  <p>人気カウンセリングが表示されます</p>
</div>
<div id="counseling_search_window">
  <p>インフルエンサー検索部分です</p>
  <a href="#" style="text-decoration:none;" id="counseling_search_link">検索する</a>
</div>
