<%= render "shared/signin_header" %>
<%= render "shared/sidebar" %>
<div id="new_counselings">
  <% @counselings.each do |counseling| %>
    <p>カウンセリング : <%= counseling.name %></p>
  <% end %>
</div>
<div id="popular_counselings">
  <p>人気カウンセリングが表示されます</p>
</div>
<div id="counseling_search_window">
  <p>カウンセリング検索部分です</p>
  <a href="#" style="text-decoration:none;" id="counseling_search_link">検索する</a>
</div>
