<table class="new_counselings">
  <tr class="tr_image">
    <th>画像</th>
    <th>画像</th>
    <th>画像</th>
    <th>画像</th>
    <th>画像</th>
  </tr>
  <tr class="tr_title">
    <% @counselings.each do |counseling| %>
      <td><%= counseling.name %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @counselings.each do |counseling| %>
      <td><%= counseling.day %></td>
    <% end %>
  </tr>
  <tr class="tr_date">
    <% @counselings.each do |counseling| %>
      <td><%= counseling.starttime %></td>
    <% end %>
  </tr>
  <tr class="tr_button">
    <% @counselings.first(5).each do |counseling| %>
      <td><%= link_to "詳細", counseling_path(counseling) %></td>
    <% end %>
  </tr>
</table>
