<% @favorites.present? %>
  <table class="new_counselings">
    <tr class="tr_image">
      <th>画像</th>
      <th>画像</th>
      <th>画像</th>
      <th>画像</th>
      <th>画像</th>
    </tr>
    <tr class="tr_title">
      <% @user.counselings.each do |counseling| %>
        <td><%= counseling.name %></td>
      <% end %>
    </tr>
    <tr class="tr_date">
      <% @user.counselings.each do |counseling| %>
        <td><%= counseling.date %></td>
      <% end %>
    </tr>
    <tr class="tr_people">
      <% @user.counselings.each do |counseling| %>
        <td><%= counseling.people %></td>
      <% end %>
    </tr>
    <tr class="tr_button">
      <% @user.counselings.each do |counseling| %>
        <td><%= link_to "予約する", counseling_path(counseling) %></td>
      <% end %>
    </tr>
  </table>
