<div id="current_user">
  <h1>プロフィール編集</h1>
  <p>名前 : <%= @user.name %></p>
  <p>メールアドレス : <%= @user.email %></p>
  <a href="http://localhost:3000/users/edit" style="text-decoration:none;">編集する</a>
</div>
