<header>
  <%= link_to "meselling", root_path, class:"header_logo" %>
  <%= link_to "新規登録", new_user_registration_path, class:"new_user_registration_header_link" %>
  <%= link_to "ログイン", new_user_session_path, class:"new_user_session_header_link" %>
  <div id="header_explain">
    <a href="#service_explanation_cap" class="what_meseling">meselingとは？</a>
    <a href="howtouse" class="how_to_use">使い方</a>
    <a href="#top_searchforcounselig" class="search_for_counselig">カウンセリングを探す</a>
  </div>
</header>
