<div id="sidebar">
  <a href="#" style="text-decoration:none;">Home</a><br>
  <a href="http://localhost:3000/users" style="text-decoration:none;">Profile</a><br>
  <a href="http://localhost:3000/counselings" style="text-decoration:none;">カウンセリングを探す</a><br>
  <a href="#" style="text-decoration:none;">インフルエンサーを探す</a><br>
  <a href="#" style="text-decoration:none;">予約一覧</a><br>
  <%= link_to "お気に入り一覧", user_favorites_path(:user_id), class:"link" %>
</div>
