<h2><%= @user.name %> 様</h2>
  <p>この度は、カウンセリングをご予約いただきありがとうございました。<br>
  以下、ご予約内容の詳細です。</p>

  <p>カウンセリング：<%= @reservation_counselings.name %></p>
  <p>開始日：<%= @reservation_counselings.day %></p>
  <p>開始時間：<%= @reservation_counselings.starttime %></p>

  <p>時間になりましたら、以下のzoomURLからご参加ください。</p>
  <p>https://x○x○〜〜</p>
  <p>ミーティングID: XXX XXXX XXXX</p>
  <p>パスコード: XXXXXX</p>

  <p>今後ともmeselingをよろしくお願いいたします。</p>
