/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* body*/

 body{
  margin: 0;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
 }

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 /* header*/

 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

 .header_logo{
  position: absolute;
  top:0px;
  left:10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 55px;
  text-decoration: none;
  color: #fe7c98;
}

.new_user_registration_header_link, .new_user_session_header_link{
  position: absolute;
  top:35px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  width: 100px;
  padding: 15px;
  background: #fe7c98;
  text-align: center;
}

.new_user_registration_header_link{
  position: absolute;
  right: 200px;
}

.new_user_session_header_link{
  position: absolute;
  right: 50px;
}

#header_explain{
  position: absolute;
  top:45px;
  width: 100%;
}

.what_meseling{
  position: absolute;
  right: 670px;
  color: rgb(111, 110, 110);
  text-decoration: none;
}

.how_to_use{
  position: absolute;
  right: 580px;
  color: rgb(111, 110, 110);
  text-decoration: none;
}

.search_for_counselig{
  position: absolute;
  right: 380px;
  color: rgb(111, 110, 110);
  text-decoration: none;
}

.link{
 text-decoration: none;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: pink;
  text-align: center;
}

.Notification{
  position: absolute;
  top:100px;
}

.notice{
  background-color: #38AEF0;
  color: #fff;
  text-align: center;
}

.alert {
  background-color: #F35500;
  color: #fff;
  text-align: center;
}

#sidebar{
  position: absolute;
  top:100px;
  left:0px;
  width: 15%;
  height: 80%;
  background-color: #f5caf7;
}
