#index_counseling{
  position: relative;
  bottom: 23px;
}

#counseling_search_window{
  position: absolute;
  top:120px;
  left: 20px;
  width: 30%;
  height: 70%;
  font-weight: bold;
}

#counseling_search_link{
  position: absolute;
  top:540px;
}

#show_counseling_text{
  position: absolute;
  top:100px;
  left:250px;
}

#counseling_show{
  position: absolute;
  top:200px;
  left: 250px;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

#counseling_show_title td{
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
}

#counseling_show_content td{
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
  height: 300px;
}

#backto_counseling_index{
  position: absolute;
  bottom: 80px;
  left: 250px;
  text-decoration: none;
}

#counseling_show_people{
  position: absolute;
  top:200px;
  right: 150px;
  background-color: pink;
  text-align: center;
}

#counseling_show_influencer{
  position: absolute;
  top:400px;
  right: 100px;
  width: 20%;
  height: 30%;
  font-weight: bold;
  border: solid 3px #000000;
}

#back_to_counselings_link{
  position: absolute;
  bottom: 100px;
  left:150px;
}

#results{
  position: absolute;
  top:150px;
  left:200px;
}
  
#not_results{
  position: absolute;
  top:250px;
  left: 200px;
}

.index_counseling_day{
  position: absolute;
  padding-top: 10px;
  padding-left: 15px;
  top: 250px;
}

.counseling_people{
  position: absolute;
  padding-top: 10px;
  padding-left: 60px;
  top: 270px;
}

.counselings_link{
  position: absolute;
  padding-top: 10px;
  padding-left: 83px;
  top: 290px;
}

.paginate{
margin-left: auto;
margin-right: auto;
margin-top: 470px;
padding-bottom: 30px;
}
