.favorite_counselig{
  position: absolute;
  top:190px;
  left: 210px;
  color: rgb(111, 110, 110);
}

#not_favorites{
  position: absolute;
  top:250px;
  left: 210px;
}

#favorites{
  position: absolute;
  top:240px;
  left: 210px;
}

#index_favorite{
  position: absolute;
  top: 170px;
}
