#influencer_index{
    position: absolute;
    top: 200px;
    left: 210px;
}

.index_searchforinfluencer{
  margin-left: 120px;
  color: rgb(111, 110, 110);
}

.star{
  position: absolute;
  top: 200px;
  width: 130px;
  text-align: center;
  margin-left: 10px;
}

.influencer_show_link{
  position: absolute;
  top: 250px;
  width: 130px;
  text-align: center;
  margin-left: 10px;
}

#influencer_search_window{
  position: absolute;
  top:120px;
  left: 200px;
  width: 30%;
  height: 70%;
}

#influencer_search_link{
  position: absolute;
  top:540px;
}

#counseling_show{
  position: absolute;
  top:120px;
}

#influenser_counseling{
  position: absolute;
  top:500px;
  left: 250px;
}

#influenser_reviews{
  position: absolute;
  bottom: 100px;
  right: 300px;
}
