#influencer_ranking{
  position: absolute;
  top:120px;
  right: 50px;
  width: 60%;
  height: 20%;
  font-weight: bold;
  border: solid 3px #000000;
}

#recomend_influencer{
  position: absolute;
  top:320px;
  right: 50px;
  width: 60%;
  height: 20%;
  font-weight: bold;
  border: solid 3px #000000;
}

#influencer_search_window{
  position: absolute;
  top:120px;
  left: 250px;
  width: 10%;
  height: 70%;
  font-weight: bold;
  border: solid 3px #000000;
}

#influencer_search_link{
  position: absolute;
  top:540px;
}
