#service_explanation{
  position: absolute;
  top:150px;
  left: 50px;
  width: 90%;
  height: 20%;
  font-weight: bold;
  border: solid 3px #000000;
}

#service_explanation_text{
  margin: 0; 
  padding: 0;
}

#new_counseling_index{
  position: absolute;
  top:350px;
  left: 50px;
  width: 90%;
  height: 20%;
  font-weight: bold;
  border: solid 3px #000000;
}
