@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

 .header{
  background-color: #ffedf0;
  width: 100%;
  height: 120px;
}

 .header_logo{
  position: absolute;
  top:0px;
  left:10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 55px;
  text-decoration: none;
  color: #fe7c98;
}

.new_user_registration_header_link, .new_user_session_header_link{
  position: absolute;
  top:35px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  width: 100px;
  padding: 15px;
  background: #fe7c98;
  text-align: center;
}

.new_user_registration_header_link{
  position: absolute;
  right: 200px;
}

.new_user_session_header_link{
  position: absolute;
  right: 50px;
}

#header_explain{
  position: absolute;
  top:45px;
  width: 100%;
}

.what_meseling{
  position: absolute;
  right: 670px;
  color: rgb(111, 110, 110);
  text-decoration: none;
}

.how_to_use{
  position: absolute;
  right: 580px;
  color: rgb(111, 110, 110);
  text-decoration: none;
}

.search_for_counselig{
  position: absolute;
  right: 380px;
  color: rgb(111, 110, 110);
  text-decoration: none;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 15px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #fe7c98;
    border-radius: 50%; 
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: #ffedf0;
  transition: all 0.5s;
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;
}

.menu-content ul {
  padding: 70px 10px 0;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: rgb(111, 110, 110);
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.menu-content ul li a::before {
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.logout{
  position: absolute;
  top: 25px;
  right: 120px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  width: 100px;
  padding: 15px;
  background: #fe7c98;
  text-align: center;
}

#service_explanation_text{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 350px;
  left: 250px;
  text-align: center;
  font-size: 18px;
}

#service_explanation_cap{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 290px;
  left: 540px;
  text-align: center;
}

.service_explanation_image{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.new_user_registration_inservice_explanation, .new_user_session_service_explanation{
  text-decoration: none;
  position: absolute;
  top: 520px;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  width: 200px;
  padding: 15px;
  text-align: center;
  border: 5px solid #fe7c98;
  font-weight: bold;
}

.new_user_registration_inservice_explanation{
  position: absolute;
  left: 450px;
}

.new_user_session_service_explanation{
  position: absolute;
  left: 730px;
}

.border1{
  border: 1px solid #858484;
	width: 200px;
	height: 330px;
  background-color: #ffffff;
  margin-top: 2px;
}

.border6{
  border: 1px solid #858484;
	width: 150px;
	height: 280px;
  background-color: #ffffff;
  margin-top: 2px;
  border-radius: 5%;
}


#signin_toppage{
  position: relative;
  top: 50px;
}

#toppage{
  position: relative;
  top: 50px;
  background-color: #ffedf0;
  height: 680px;
}

.top_searchforcounselig{
  position: absolute;
  top:30px;
  left: 210px;
  color: rgb(111, 110, 110);
}

.counselings{
  position: absolute;
  left: 210px;
  top: 120px;
  font-size: 13px;
  color: rgb(111, 110, 110);
  width: 200px;
  text-align: center;
}

.counseling_name{
  position: absolute;
  top:170px;
  width: 180px;
  text-align: center;
  margin-left: 10px;
}

.counseling_day{
  position: absolute;
  top:230px;
  width: 200px;
  text-align: center;
  margin-top: 10px;

}

.host_influencer{
  position: absolute;
  top:280px;
  width: 180px;
  text-align: left;
  padding-left: 20px;
}

.influencers{
  position: absolute;
  top: 100px;
  left: 120px;
}

.name{
  position: absolute;
  top:140px;
  width: 130px;
  text-align: center;
  margin-left: 10px;
}

.star{
  position: absolute;
  top:250px;
  width: 130px;
  text-align: center;
  margin-left: 10px;
}

#top_searchforinfluencer_background{
  background-color: #ffedf0;
  width: 100%;
}

#top_searchforinfluencer_background{
  position: relative;
  top:720px;
  height: 580px;
}

#signin_toppage_bottom{
  position: absolute;
  top: 880px;
  left: 210px;
}

.top_searchforinfluencer{
  color: rgb(111, 110, 110);
}

#signin_see_more_influencer{
  position: absolute;
  top:430px;
  left: 450px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  width: 100px;
  padding: 15px;
  background: #fe7c98;
  text-align: center;
}

.star-rating{
  font-size: 15px;
}

.image{
  border-radius: 50%;
}

.influencer_image{
  border-radius: 50%;
  margin-top: 30px;
}

#see_more_counseling, #signin_see_more_counseling{
  position: absolute;
  left: 655px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  width: 100px;
  padding: 15px;
  background: #fe7c98;
  text-align: center;
}

#see_more_counseling{
  position: absolute;
  top: 420px;
}

#signin_see_more_counseling{
  top: 500px;
}

#service_explanation_cap_bottom{
  position: absolute;
  top: 1350px;
  left: 210px;
  color: rgb(111, 110, 110);
}

#howtouse{
  position: absolute;
  top: 1300px;
  background-color: #ffffff;
  width: 100%;
  height: 520px;
}

.service_explanation_bottom_image{
  position: absolute;
  top: 1350px;
  left: 750px;
  border-radius: 50%;  
}

#service_explanation_text_bottom{
  position: absolute;
  top: 1430px;
  left: 210px;
  color: rgb(111, 110, 110);
}

.new_user_registration_explanation_bottom{
  position: absolute;
  top: 1550px;
  left: 335px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  width: 100px;
  padding: 15px;
  background: #fe7c98;
  text-align: center;
  width: 180px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #fe7c98;
  text-align: center;
  background-color: #ffedf0;
  width: 100%;
  height: 30px;
}

