.cap{
  color: rgb(111, 110, 110);
}

@media (max-width: 599px) {
  .cap{
    color: rgb(111, 110, 110);
    position: absolute;
    top: 150px;
    left: 250px;
  }
}

@media (max-width: 599px) {
  .new_user{
    position: absolute;
    top: 250px;
    left: 130px;
    width: 250px;
  }
}

#sign_in, #sign_up, #current_user{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#profile_edit{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.user_image{
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.show_user_image{
  position: absolute;
  border-radius: 50%;
  left: 655px;
}

#user_profile{
  position: absolute;
  top: 350px;
  font-size: 18px;
}

#em{
  color: #ff0000;
  font-size: 13px;
}

.registration_button, .button{
  color: #ffff;
  background-color: #fb5d80;
  width: 345px;
  height: 40px;
  border: none;
}

@media (max-width: 599px) {
  .registration_button{
    position: absolute;
    top: 230px;
    left: 90px;
    color: #ffff;
    background-color: #fb5d80;
    width: 145px;
    height: 40px;
    border: none;
  }
}

#guest_button{
  position: absolute;
  top: 420px;
  left: 548px;
  color: #ffff;
  background-color: #fb5d80;
  width: 345px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}

@media (max-width: 599px) {
  .button{
    position: absolute;
    top: 130px;
    left: 90px;
    color: #ffff;
    background-color: #fb5d80;
    width: 145px;
    height: 40px;
    border: none;
  }
}

@media (max-width: 599px) {
  #guest_button{
    position: absolute;
    top: 185px;
    left: 37px;
    color: #ffff;
    background-color: #fb5d80;
    width: 245px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
  }
}

#edit_button{
  position: absolute;
  top: 500px;
  left: 560px;
  text-decoration: none;
  background-color: #fb5d80;
  color: #ffff;
  width: 345px;
  height: 40px;
  text-align: center;
  line-height: 2.5;
}

.top_actions{
  position: absolute;
  top: 480px;
}

@media (max-width: 599px) {
  .top_actions{
    position: absolute;
    top: 500px;
    left: 205px;
  }
}

@media (max-width: 599px) {
  .login_actions{
    position: absolute;
    top: 550px;
    left: 265px;
  }
}

.user_field{
  height: 30px;
  width: 337px;
  font-size: 15px;
}

.delete{
  color: rgb(255, 0, 0);
  background-color: #ffffff;
  border: 1px solid rgb(255, 0, 0);
  width: 345px;
  height: 40px;
}
