#sign_in, #sign_up, #current_user{
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

#profile_edit{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.cap{
  color: rgb(111, 110, 110);
}

.image{
  border-radius: 50%;  
}

#em{
  color: #ff0000;
  font-size: 13px;
}

.button{
  color: #ffff;
  background-color: #fb5d80;
  width: 345px;
  height: 40px;
  border: none;
}

.user_field{
  height: 30px;
  width: 337px;
  font-size: 15px;
}

.delete{
  color: rgb(255, 0, 0);
  background-color: #ffffff;
  border: 1px solid rgb(255, 0, 0);
  width: 345px;
  height: 40px;
}
